<div class="grid">
  <div class="col-12">
    <h2 class="text-center">Sensores</h2>
  </div>
  <div class="col-12 lg:col-6 xl:col-6" *ngFor="let gauge of gauges">
    <p-card [header]="gauge.label" class="flex justify-content-evenly">
      <ngx-gauge [value]="gauge.value" [min]="gauge.min" [max]="gauge.max" [label]="gauge.append"
        [thresholds]="gauge.thresholds" [markers]="gauge.markers" [margin]="20" [size]="300" [thick]="15" type="arch"
        cap="butt"></ngx-gauge>
    </p-card>
  </div>
</div>
