<div class="grid">
  <div class="col-12">
    <h2 class="text-center">Sensores</h2>
  </div>
  <div class="col-12 lg:col-6 xl:col-6" *ngFor="let gauge of gauges">
    <p-card [header]="gauge.label" class="flex justify-content-evenly">
      <div class="flex justify-content-center">
        <ngx-gauge [value]="gauge.value" [min]="gauge.min" [max]="gauge.max" [label]="gauge.append"
          [thresholds]="gauge.thresholds" [markers]="gauge.markers" [margin]="20" [size]="300" [thick]="15" type="arch"
          cap="butt"></ngx-gauge>
      </div>
      <div class="mt-3">
        <div class="mt-2 flex align-items-center justify-content-between">
          <p><b>Estado:</b></p>
          <div [ngClass]="{
            'led-red': gauge.value < gauge.lowerThreshold || gauge.value > gauge.upperThreshold,
            'led-green': gauge.value >= gauge.lowerThreshold && gauge.value <= gauge.upperThreshold
            }" class="led"></div>
        </div>
        <div class="mt-2 flex justify-content-between">
          <p><b>Valor mínimo: </b></p>
          <p>{{ gauge.min | number: '1.2-2' }} <b>{{ gauge.append }}</b></p>
        </div>
        <div class="mt-2 flex justify-content-between">
          <p><b>Valor máximo: </b></p>
          <p>{{ gauge.max | number: '1.2-2' }} <b>{{ gauge.append }}</b></p>
        </div>
        <div class="mt-2 flex justify-content-between">
          <p><b>Umbral inferior: </b></p>
          <p>{{ gauge.lowerThreshold | number: '1.2-2' }} <b>{{ gauge.append }}</b></p>
        </div>
        <div class="mt-2 flex justify-content-between">
          <p><b>Umbral superior: </b></p>
          <p>{{ gauge.upperThreshold | number: '1.2-2' }} <b>{{ gauge.append }}</b></p>
        </div>
        <div class="mt-2 flex justify-content-between">
          <p><b>Alerta activada: </b></p>
          <p><b>{{ gauge.isAlertEnabled ? 'Sí' : 'No' }}</b></p>
        </div>
      </div>
    </p-card>
  </div>
</div>
