<div class="flex flex-wrap">
  <div class="col-12">
    <h2 class="text-center">Histórico</h2>
  </div>

  <div class="w-full md:w-4 lg:w-3 p-4">
    <div class="flex justify-content-center">
      <shared-basic-date-form (onFormSubmit)="onSubmit($event)"></shared-basic-date-form>
    </div>
  </div>

  <div class="w-full md:w-8 lg:w-9 p-3">
    <div class="mb-4">
      <p-dropdown [options]="chartTypes" (onChange)="onChartTypeChange($event)" placeholder="Seleccione el tipo de diagrama"></p-dropdown>
    </div>
    <p-chart #chart [type]="selectedChartType" [data]="chartData" [options]="chartOptions"></p-chart>
  </div>
</div>
