<div class="flex flex-wrap">
  <div class="col-12">
    <h2 class="text-center">Histórico</h2>
  </div>

  <div class="col-12 md:col-4 lg:col-3 xl:col-3 p-2">
    <div class="flex justify-content-center">
      <shared-basic-date-form class="w-10" [description]="description" (onFormSubmit)="onSubmit($event)"></shared-basic-date-form>
    </div>
  </div>

  <div class="col-12 md:col-8 lg:col-9 xl:col-9 p-2">
    <div class="mb-4">
      <p-dropdown [options]="chartTypes" (onChange)="onChartTypeChange($event)" placeholder="Seleccione el tipo de diagrama"></p-dropdown>
    </div>
    <p-chart #chart [type]="selectedChartType" [data]="chartData" [options]="chartOptions"></p-chart>
  </div>
</div>
