<div class="flex flex-column">
  <div class="col-12">
    <h2 class="text-center">{{ title }}</h2>
  </div>
  <div class="flex justify-content-center">
    <div class="col-12">
      <h3 class="text-center">Video de Presentación</h3>
      <div class="media-item-container">
        <video controls class="media-item" preload="metadata">
          <source [src]="video" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </div>
  <div class="flex justify-content-center mt-4">
    <div class="col-12">
      <p-carousel [value]="images" [numVisible]="1" [numScroll]="1" [circular]="true" [autoplayInterval]="3000">
        <ng-template pTemplate="header">
          <h3 class="text-center">Galería de Imágenes</h3>
        </ng-template>
        <ng-template pTemplate="item" let-item>
          <div class="media-item-container">
            <img [src]="item.source" [alt]="item.alt" class="media-item">
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
  <div class="flex flex-column justify-content-center mt-4">
    <div class="col-12">
      <p-card header="Descripción">
        <p>{{ description }}</p>
      </p-card>
    </div>
    <div class="col-12">
      <p-card header="Objetivo general">
        <p>{{ general_objective }}</p>
      </p-card>
    </div>
    <div class="col-12">
      <p-card header="Objetivos específicos">
        <ul>
          <li class="ml-4" *ngFor="let objective of specific_objectives">{{ objective }}</li>
        </ul>
      </p-card>
    </div>
  </div>
</div>
