<form autocomplete="off" [formGroup]="form" (ngSubmit)="login()" class="p-fluid w-full">
  <div class="col-12 mb-2">
    <h2 class="text-center">Inicio de sesión</h2>
  </div>
  <div class="p-field mb-4">
    <label class="block mb-2" for="email">Correo</label>
    <input pInputText id="email" formControlName="email" type="email" placeholder="Correo electrónico" class="w-full">
  </div>
  <div class="p-field mb-4">
    <label class="block mb-2" for="password">Contraseña</label>
    <input pInputText id="password" formControlName="password" type="password" placeholder="Ingrese su contraseña"
      class="w-full">
  </div>
  <div class="p-field mb-4">
    <p-button type="submit" label="Iniciar sesión" [disabled]="form.invalid" class="w-full"></p-button>
  </div>
  <div class="flex justify-content-center pt-2">
    <a routerLink="/dashboard" class="txt1 p-b-17">
      Ir al dashboard
    </a>
  </div>
</form>
